.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #19abb0;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  border: 1px solid #19abb0;
  padding: 8px;
  text-align: left;
  font-size: 13px;
}

.table th {
  background-color: #19abb0;
  color: #ffffff;
  font-weight: 600;
}
