.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-not-found h2 {
    font-size: 1.5rem;
    color: #959595;
    margin: 100px;
    font-weight: 600;
}

.page-not-found .reload-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #893e9d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-not-found .reload-btn:hover {
    background-color: #6a2c74;
}